.paragraph {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: medium;
    color: rgb(236, 195, 195);
    text-align: center;
    font-size: 150%;
}

.main-div {
    margin: auto;
    width: 50%;
    padding-bottom: 240px;
    font-size: medium;
    color: rgb(236, 195, 195);
    text-align: center;
    font-size: 150%;
}